<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ORTOS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <ORTOS.Properties.Settings>
            <setting name="postureResolution" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="postureCameraIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="plantoCameraIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="plantoResolution" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="colorLine" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="colorLine2" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="colorText" serializeAs="String">
                <value>LimeGreen</value>
            </setting>
            <setting name="colorPoints" serializeAs="String">
                <value>Gold</value>
            </setting>
            <setting name="fontSize" serializeAs="String">
                <value>Microsoft Sans Serif, 14.25pt</value>
            </setting>
        </ORTOS.Properties.Settings>
    </userSettings>
</configuration>
